@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2rem;
  color: #130f40;
}
.heading span {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: #27ae26;
}

@-webkit-keyframes fadeup {
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }
}

@keyframes fadeup {
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  font-size: 2rem;
  margin-top: 1rem;
  color: #fff;
  background: #27ae26;
}
.btn:hover {
  background: #130f40;
}

html {
  overflow-x: hidden;
  font-size: 62.9%;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
}
html::-webkit-scrollbar-track {
  background: #27ae26;
  border: 5rem;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  z-index: 1111;
}
.header .logo {
  color: #130f40;
  font-size: 2.5rem;
  font-weight: bolder;
}
.header i {
  padding: 0.5rem;
  color: #27ae26;
}
.header .nav a {
  padding: 0 1rem;
  font-size: 1.7rem;
  color: #666;
}
.header .nav a:hover {
  color: #27ae26;
}
.header .icon div {
  font-size: 2rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
  background: #f7f7f7;
  color: #130f40;
  cursor: pointer;
  text-align: center;
  align-items: center;
}
.header .icon div:hover {
  color: #fff;
  background: #27ae26;
}

#menu-btn {
  display: none;
}

.search-form-container {
  z-index: 999;
  display: none;
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  background: #fff;
  height: calc(100vh - 8.5rem);
}
.search-form-container.active {
  display: block;
}
.search-form-container form {
  height: 7rem;
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  display: flex;
  align-items: center;
  -webkit-animation: fadeup 0.4s linear;
          animation: fadeup 0.4s linear;
}
.search-form-container form input {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  text-transform: none;
  color: #130f40;
  padding-right: 1rem;
}
.search-form-container form label {
  color: #130f40;
  font-size: 3rem;
  cursor: pointer;
}
.search-form-container form label:hover {
  color: #27ae26;
}

.shopping-cart-container {
  display: none;
  position: fixed;
  z-index: 997;
  top: 8.5rem;
  left: 0;
  right: 0;
  background: #fff;
  height: calc(100vh - 8.5rem);
  overflow-y: scroll;
}
.shopping-cart-container.active {
  display: block;
}
.shopping-cart-container::-webkit-scrollbar {
  width: 1rem;
}
.shopping-cart-container::-webkit-scrollbar-thumb {
  background: #fff;
}
.shopping-cart-container::-webkit-scrollbar-track {
  background: #130f40;
  border: 2rem;
}
.shopping-cart-container .title {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  color: #130f40;
  text-align: center;
  padding: 1rem;
}
.shopping-cart-container .product-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-animation: fadeup 0.4s linear;
          animation: fadeup 0.4s linear;
}
.shopping-cart-container .product-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 1.5rem;
  padding: 1.3rem;
}
.shopping-cart-container .product-container .box-container .box {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}
.shopping-cart-container .product-container .box-container .box .fa-times {
  position: absolute;
  top: 0.7rem;
  right: 1.2rem;
  font-size: 2rem;
  cursor: pointer;
}
.shopping-cart-container .product-container .box-container .box .fa-times:hover {
  color: #27ae26;
}
.shopping-cart-container .product-container .box-container .box img {
  width: 46%;
}
.shopping-cart-container .product-container .box-container .box .content {
  padding-left: 2rem;
}
.shopping-cart-container .product-container .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}
.shopping-cart-container .product-container .box-container .box .content span {
  font-size: 1.6rem;
  color: #666;
}
.shopping-cart-container .product-container .box-container .box .content span.price {
  color: #27ae26;
}
.shopping-cart-container .product-container .box-container .box .content input {
  width: 5rem;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  color: #130f40;
  background: #f7f7f7;
  margin: 0.3rem 0;
}
.shopping-cart-container .cart-total {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-top: 2rem;
  -webkit-animation: fadeup 0.4s linear 0.4s backwards;
          animation: fadeup 0.4s linear 0.4s backwards;
}
.shopping-cart-container .cart-total .box {
  padding: 1.5rem;
}
.shopping-cart-container .cart-total .box h3 {
  font-size: 2rem;
  color: #130f40;
  padding-bottom: 0.5rem;
}
.shopping-cart-container .cart-total .box h3 span {
  color: #27ae26;
}
.shopping-cart-container .cart-total .box a {
  margin-top: 1rem;
}

.login-form-container {
  position: fixed;
  top: 9.3rem;
  left: 0;
  right: 0;
  height: calc(100vh - 9.3rem);
  background: #fff;
  padding: 0 2rem;
  display: none;
  -webkit-animation: fadeup 0.4s linear;
          animation: fadeup 0.4s linear;
  z-index: 999;
}
.login-form-container.active {
  display: block;
}
.login-form-container form {
  margin: 2rem auto;
  max-width: 40rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  padding: 2rem;
  border-radius: 0.5rem;
}
.login-form-container form h3 {
  text-transform: uppercase;
  font-size: 2.3rem;
  color: #130f40;
  padding-bottom: 1.4rem;
}
.login-form-container form .box {
  margin: 0.8rem 0;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: #f7f7f7;
  color: #130f40;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  text-transform: none;
  width: 100%;
}
.login-form-container form .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.login-form-container form .remember label {
  font-size: 1.4rem;
  color: #666;
  cursor: pointer;
}
.login-form-container form .btn {
  width: 100%;
  margin: 1rem 0;
  align-items: center;
  text-align: center;
}
.login-form-container form p {
  padding-top: 1rem;
  color: #666;
  font-size: 1.5rem;
}
.login-form-container form p a {
  color: #27ae26;
}
.login-form-container form p a:hover {
  color: #130f40;
  text-decoration: underline;
}

.home {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  gap: 2rem;
}
.home .content {
  flex: 1 1 41rem;
  top: 15rem;
  width: 50%;
}
.home .content span {
  font-size: 2.5rem;
  color: #27ae26;
}
.home .content h3 {
  font-size: 3rem;
  color: #130f40;
  padding-top: 1rem;
}
.home .content p {
  font-size: 1.5rem;
  color: #666;
}
.home .image {
  margin-right: -6rem;
  width: 50%;
}
.home .image img {
  width: 90%;
}

.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.category .box {
  position: relative;
  color: #130f40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  background: #f7f7f7;
}
.category .box:hover {
  background: rgba(16, 149, 16, 0.764);
}
.category .box:hover h3 {
  color: #fff;
}
.category .box img {
  margin: 1.2rem;
  width: 80%;
}
.category .box h3 {
  font-size: 2rem;
  padding-bottom: 1.2rem;
}

.about {
  display: flex;
  flex-direction: row;
  background: #f7f7f7;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.about .image {
  flex: 1 1 50rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 40rem;
  width: 50%;
}
.about .content span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #27ae26;
}
.about .content .title {
  font-size: 3rem;
  color: #130f40;
  padding-top: 0.3rem;
}
.about .content p {
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #666;
}
.about .content .icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.about .content .icon-container .icon {
  display: flex;
  flex: 2 2 20rem;
  align-items: center;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  padding: 2rem;
  gap: 2rem;
}
.about .content .icon-container .icon img {
  width: 4rem;
}
.about .content .icon-container .icon h3 {
  font-size: 1.5rem;
}

.popular .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.popular .box-container .box {
  background: #f7f7f7;
  border-radius: 0.5rem;
  position: relative;
  text-align: center;
  padding: 2rem;
}
.popular .box-container .box .fa-heart {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  color: #666;
  font-size: 2.4rem;
}
.popular .box-container .box .fa-heart:hover {
  color: #27ae26;
}
.popular .box-container .box .image {
  margin: 1.5rem 2rem;
}
.popular .box-container .box .image img {
  height: 15rem;
}
.popular .box-container .box .content {
  padding: 1rem;
}
.popular .box-container .box .content h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.popular .box-container .box .content .stars {
  font-size: 1.7rem;
}
.popular .box-container .box .content .stars i {
  color: gold;
}
.popular .box-container .box .content .price {
  font-size: 2rem;
  color: #27ae26;
}

.banner .row-banner {
  background: url("image/banner1.avif") no-repeat;
  height: 45rem;
  background-position: right;
  position: relative;
  width: 100%;
  background-size: cover;
}
.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
.banner .row-banner .content span {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: #27ae26;
}
.banner .row-banner .content h3 {
  font-size: 6rem;
  color: #f7f7f7;
  text-transform: uppercase;
}
.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: brown;
}
.banner .grid-banner {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.banner .grid-banner .grid-box {
  height: 45rem;
  position: relative;
}
.banner .grid-banner .grid-box:hover {
  transform: scale(1.05);
}
.banner .grid-banner .grid-box .content {
  position: absolute;
  bottom: 20%;
  left: 2rem;
  z-index: 44;
  padding: 0 2rem;
}
.banner .grid-banner .grid-box .content span {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(46, 166, 160);
}
.banner .grid-banner .grid-box .content h3 {
  font-size: 3rem;
  color: rgb(19, 10, 10);
}
.banner .grid-banner .grid-box img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: rgb(35, 41, 35);
  background: linear-gradient(top, rgb(95, 119, 95) 7%, rgb(20, 24, 25) 100%);
  z-index: 34;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 1.5rem;
  padding-top: 3rem;
}
.menu .box-container .box {
  position: relative;
  color: #130f40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  background: #f7f7f7;
  padding: 1.5rem;
}
.menu .box-container .box:hover {
  transform: scale(1.1);
}
.menu .box-container .box img {
  margin: 1rem;
  width: 100%;
}
.menu .box-container .box .content {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}
.menu .box-container .box .content .price {
  color: #27ae26;
  font-size: 1.5rem;
}

.order .icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.order .icons .icon {
  width: 100%;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 0.5rem;
}
.order .icons .icon img {
  width: 7rem;
  padding-bottom: 0.5rem;
}
.order .icons .icon h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #666;
}
.order .input-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
  padding: 2rem 0;
  background: #f7f7f7;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.order .input-box .input {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
}
.order .input-box .input input {
  padding: 1rem;
  background: #fff;
  text-transform: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}
.order .input-box .input textarea {
  padding: 1rem;
  background: #fff;
  text-transform: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}
.order .input-box .input iframe {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.order .input-box .input iframe:hover {
  transform: scale(1.2);
}
.order .btn {
  width: 30rem;
  margin: 1rem;
}

footer .container {
  margin-top: 2rem;
  background: #f7f7f7;
  padding: 2rem 1rem;
}
footer .container .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding-top: 2rem;
}
footer .container .copyright i {
  padding-right: 0.3rem;
}
footer .container .row-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}
footer .container .row-section .footer-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  font-size: 1.5rem;
}
footer .container .row-section .footer-col h3 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #27ae26;
  transition: ease-in-out 0.5s;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
footer .container .row-section .footer-col .content p {
  color: #666;
  padding-bottom: 1rem;
}
footer .container .row-section .footer-col .content .icons a img {
  width: 3rem;
}
footer .container .row-section .footer-col .content .icons a img:hover {
  transform: scale(0.8);
}
footer .container .row-section .footer-col ul {
  text-decoration: none;
}
footer .container .row-section .footer-col ul li {
  list-style: none;
}
footer .container .row-section .footer-col ul li a {
  color: #666;
}
footer .container .row-section .footer-col ul li a:hover {
  color: #27ae26;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 750px) {
  #menu-btn {
    display: inline-block;
  }
  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .nav a {
    font-size: 2rem;
    display: block;
    margin: 2rem;
  }
}
@media (max-width: 650px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
  }
  .home .content {
    width: 80%;
    margin-top: -2.5rem;
  }
  .home .image {
    padding-bottom: 0;
    margin-bottom: 0;
    width: 80%;
  }
}
@media (max-width: 441px) {
  html {
    font-size: 50%;
  }
  .shopping-cart-container .cart-total .box {
    text-align: center;
  }
  .shopping-cart-container .cart-total .btn {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */